*.pyc
.DS_Store
node_modules
.codegpt
.context/
.context_archive/
.env
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
uploads/
/mcp/servers/notification-server/node_modules
/mcp/servers/observer-server-new/node_modules
